{{!-- Footer for the home page. It can be reused as an element across all pages. --}}
<footer class="container-fluid text-center footer text-muted fixed-bottom">
    <p><br>&copy;
        2020 Made with <i class="fas fa-heart"></i> and <i class="fas fa-coffee"></i> in Maryland.
    </p>
</footer>