{{!-- The submit button for the home page cards. --}}
<div class="col-2">
	<button type="submit" class="add-item btn btn-light btn-sm float-right" data-toggle="tooltip" data-placement="top"
		title="Add item"><i class="fas fa-plus"></i></button>
</div>