<div class="windowPage">
  <header>
    <div class="row logoHeader">
      <div class="col-md-2">
        <img class="img-fluid" src="/img/innerNet-logo-trans.png" alt="innerNet" max-width="25%">
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <h5 class="float-right welcome">Welcome <span class="member-name"></span></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="logOut float-right" href="/logout">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">To Do <i class="fas fa-list"></i></h5>
          <hr>
          <ul class="list-group toDo-list" id="toDo">
          </ul>
          <form action="/api/toDos" method="post">
            <div class="form-group">
              <div class="row align-items-center">
                <div class="col-10">
                  <label for="inputItem"></label>
                  <input id="titleToDo" type="item" name="titleToDo" class="toDo-item form-control"
                    placeholder="Enter a to do item">
                  <input type="hidden" id="categoryToDo" name="categoryToDo" value="toDo">
                </div>
                <div class="col-2">
                  <button type="submit" class="add-item btn btn-light btn-sm float-right" data-toggle="tooltip"
                    data-placement="top" title="Add item"><i class="fas fa-plus"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">To Read <i class="fas fa-book"></i></h5>
          <hr>
          <ul class="list-group toRead-list" id="toRead"></ul>
          <form action="/api/toReads" method="post">
            <div class="form-group">
              <div class="row align-items-center">
                <div class="col-10">
                  <label for="inputItem"></label>
                  <input id="titleToRead" type="item" name="titleToRead" class="toDo-item form-control"
                    placeholder="Enter an item to read">
                  <input type="hidden" id="categoryToRead" name="categoryToRead" value="toRead">
                </div>
                <div class="col-2">
                  <button type="submit" class="add-item btn btn-light btn-sm float-right" data-toggle="tooltip"
                    data-placement="top" title="Add item"><i class="fas fa-plus"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">To Watch <i class="fas fa-tv"></i></h5>
          <hr>
          <ul class="list-group toWatch-list" id="toWatch"></ul>
          <form action="/api/toWatches" method="post">
            <div class="form-group">
              <div class="row align-items-center">
                <div class="col-10">
                  <label for="inputItem"></label>
                  <input id="titleToWatch" type="item" name="titleToWatch" class="toDo-item form-control"
                    placeholder="Enter an item to watch">
                  <input type="hidden" id="categoryToWatch" name="categoryToWatch" value="toWatch">
                </div>
                <div class="col-2">
                  <button type="submit" class="add-item btn btn-light btn-sm float-right" data-toggle="tooltip" data-placement="top"
                    title="Add item"><i class="fas fa-plus"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">To Buy <i class="fas fa-shopping-basket"></i></h5>
          <hr>
          <ul class="list-group toBuy-list" id="toBuy"></ul>
          <form action="/api/toBuys" method="post">
            <div class="form-group">
              <div class="row align-items-center">
                <div class="col-10">
                  <label for="inputItem"></label>
                  <input id="titleToBuy" type="item" name="titleToBuy" class="toDo-item form-control"
                    placeholder="Enter an item to buy">
                  <input type="hidden" id="categoryToBuy" name="categoryToBuy" value="toBuy">
                </div>
                <div class="col-2">
                  <button type="submit" class="add-item btn btn-light btn-sm float-right" data-toggle="tooltip" data-placement="top"
                    title="Add item"><i class="fas fa-plus"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="container-fluid text-center footer text-muted fixed-bottom">
      <p><br>&copy;
        2020 Made with <i class="fas fa-heart"></i> and <i class="fas fa-coffee"></i> in Maryland.
      </p>
    </footer>