<div class="windowPage">
<div class="row">
  <div class="col-md-12 logoHeader">
    <img src="/img/innerNet-logo-trans.png" alt="innerNet" width="200">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">To Do</h5>
        <hr>
        <div>
          <ul class="toDo-list"></ul>
        </div>
        <form action="/api/toDos" method="post">
          <div class="form-group">
            <label for="inputItem"></label>
            <input id="titleToDo" type="item" name="titleToDo" class="toDo-item form-control">
            <input type="hidden" id="categoryToDo" name="categoryToDo" value="toDo">
            <button type="submit" class="add-item btn btn-light">Add Item</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">To Read</h5>
        <hr>
        <div>
          <ul class="toRead-list"></ul>
        </div>
        {{!-- <form>
          <div class="form-group">
            <label for="inputItem"></label>
            <input type="item" class="toRead-item form-control">
            <button type="submit" class="add-item btn btn-light">Add Item</button>
          </div>
        </form> --}}
        <form action="/api/toReads" method="post">
          <div class="form-group">
            <label for="inputItem"></label>
            <input id="titleToRead" type="item" name="titleToRead" class="toDo-item form-control">
            <input type="hidden" id="categoryToRead" name="categoryToRead" value="toRead">
            <button type="submit" class="add-item btn btn-light">Add Item</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">To Watch</h5>
        <hr>
        <div>
          <ul class="toWatch-list"></ul>
        </div>
        <form>
          <div class="form-group">
            <label for="inputItem"></label>
            <input type="item" class="toWatch-item form-control">
            <button type="submit" class="add-item btn btn-light">Add Item</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">To Buy</h5>
        <hr>
        <div>
          <ul class="toBuy-list"></ul>
        </div>
        <form>
          <div class="form-group">
            <label for="inputItem"></label>
            <input type="item" class="toBuy-item form-control">
            <button type="submit" class="add-item btn btn-light">Add Item</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div class="card-footer text-muted fixed-bottom">
  <p><br>&copy; 2020</p>
</div>
</div>