body {
  background: url("/img/background.png");
  padding-bottom: 60px;
}

form.signup,
form.login {
  margin-top: 50px;
  text-align: center;
}

button, .btn {
  background-color: #ff7e00;
  color: white;
}

a {
  color: #b30cad;
}

.container {
  margin-top: 8%;
}

.form-control {
  margin-bottom: 2vw;
}

.sign-up, .card-title {
  font-family: 'Goldman', cursive;
  color: #ff1f87;
}

.card-title {
  font-size: 2vw;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 5px;
  margin: 1vw;
}

.footer {
  background-color: black;
  height: 60px;
}

.logoHeader {
  padding: 20px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.welcome {
  color: #b30cad;
}

