.bo {
  background: url("/img/background.png");
}

.light-mode {
  background: none;
  background-color: white;
  color: black;
}

form.signup, form.login {
  margin-top: 50px;
  text-align: center;
}

.far {
  text-align: right;
}

.sign-up-btn, .log-in-btn, .add-item {
  background-color: #ff7e00;
  color: white;
}

.light-change-mode {
  background-color: gray;
}

.alert {
  font-size: 12px;
}

a {
  color: #b30cad;
}

.container {
  margin-top: 8%;
}

.form-control {
  margin-bottom: 2vw;
}

.sign-up, .card-title {
  font-family: 'Goldman', cursive;
  color: #ff1f87;
}

.card-title {
  font-size: 2vw;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 2px;
  margin: 1vw;
}

.footer {
  background-color: black;
  height: 60px;
}

.logoHeader {
  padding: 20px;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.welcome {
  color: #b30cad;
}

.leftDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 90%;
  padding: 20px;
  color: #28777c;
  height: 100vh;
}

.info {
  color: #28777c;
  font-weight: bold;
} 

.icons {
  padding: 15px;
}

.signupCard {
  margin: 4vw;
}

.rightDiv {
  margin-top: 6%;
  padding: 60px;
}

.tagLine {
  font-style: italic;
  color: #b30cad;
  padding-bottom: 20px;
}

.windowPage {
  padding-bottom: 60px;
}

body {
  margin: 0;
  padding: 0;
}

#myKanban {
  overflow-x: auto;
  padding: 20px 0;
}

.success {
  background: #00B961;
  color: #fff
}

.warning {
  background: #F4CE46;
  color: #fff
}

.error {
  background: #FB7D44;
  color: #fff
}

.logOut {
  margin-bottom: 10px;
}
